<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904973245632-72sbbm07s757t2c69ohiq0pgmpno86on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904973245632-72sbbm07s757t2c69ohiq0pgmpno86on</string>
	<key>API_KEY</key>
	<string>AIzaSyCchIZJmtAUA__ux8MbtjRjWAxoI7ddDiI</string>
	<key>GCM_SENDER_ID</key>
	<string>904973245632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliamyro.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-18beb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-18beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904973245632:ios:3089f7dac2cdb9ad</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-18beb.firebaseio.com</string>
</dict>
</plist>